config:
  user.user-data: |
    #cloud-config
    users:
      - name: ianj
        ssh-import-id: gh:I4nJ
        shell: /bin/bash
        sudo: ALL=(ALL) NOPASSWD:ALL
        groups: users, admin
name: ash
devices:
  eth0:
    name: eth0
    type: nic
    network: lxdbr0
    ipv4.address: 10.0.0.15
  proxyssh:
    connect: tcp:127.0.0.1:22
    listen: tcp:0.0.0.0:22080
    type: proxy